body{
    background: #000000;
}
.main{
    text-align: center;
    margin-top: 250px;
}
h1{
    color: #524A4E;
} 
h1:hover{
    animation: infinite 1s text;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    color: #fff;
}
@keyframes text {
   0%{
       letter-spacing: 0;
   }
   30%{
       letter-spacing: 10px;
   }
   50%{
       letter-spacing: 15px;
   }
   100%{
       letter-spacing: 20px;
   }
}