@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body, header{
    margin: 0;
    padding: 0;
    font-family: "Quicksand" , sans-serif;
}
/* logo style */
.logo{
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px;
   font-size: 14px;
   letter-spacing: 4px;
   box-shadow: 0 0 1px 1px #CDC2AE;
   padding: 2px;
}
.logo::after{
    content: " ";
    width: 12px;
    height: 60px;
    box-shadow: 0 0 1px 1px #CDC2AE;
} 
/*  nav style */
nav{
    background: #DAEAF1;
}
nav , ul{
    display: flex;
}
nav ul li {
    padding: 20px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
nav ul li a:hover , 
nav ul li a:focus{
    text-decoration: underline;
}
/* slider style  */
.slider{
    max-width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.slider_pic , .item_hidden{
    display: none;
}
.slider_pic_visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
.slider .slider_pic img{
    width: 100%;
    max-width: 1000px;
    height: 800px;
}
.slider .action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider button{
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid #CDC2AE;
}
.action button #button-prev {
    margin-left: 20px;
}
.action button button #button-next {
    margin-right: 20px;   
}
/* about page  */
.about{
  display: flex;
  background: #DAEAF1;
 
}
.box1 , .box2{
    padding: 50px;
    padding-top: 100px;
}
.about img{
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    width: 290px;
}
.about h1 {
    font-size: 24px;
}
.about ul {
    display: block;
    font-size: 30px;
}
.about ul li {
    margin-top: 30px;
}
/* animations */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  


/* media queries  */
@media (max-width : 600px) {
    nav ul {
        margin: 0 auto;
       flex-direction: column;
    }
    .slider .slider_pic img {
        width: 500px;
        height: 700px;
    }
    
}