body{
    background: #203239;
}
.line{
    position: absolute;
    height: 100px;
    width: 5px;
    background: #3A3845;
    left: 48%;
    bottom: 420px;
    border-radius: 12px;
}
.triangle{
    height: 0;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #3A3845;
    position: absolute;
    left: 45.9%;
    bottom: 370px;
}
.bulb{
    position: absolute;
    width: 30px ;
    height: 30px ;
    background-color: #FFF89A;
    border-radius: 50%;
    left: 46.8%;
    bottom: 350px;
    z-index: -1;
    border: #FFD36E 2px solid;
}
.btn{
    position: absolute;
    left: 47%;
    bottom: 220px;
}
button{
    padding: 12px 12px 12px 12px ;
    color: #fff;
    background-color: #97DBAE;
    border: 1px solid #97DBAE;
    border-radius: 12%;
}