@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Rubik+Moonrocks&display=swap');
body{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 840px;
    background-color: #1A132F;
    height: 624px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.head{
    height: 50px;
    width: 50px;
    position: absolute;
    background: #61A4BC;
    border-radius: 50%;
    bottom: 370px;
    left: 46%;
    animation: anime 1s infinite ease-in-out alternate;
}
.text{
    font-family: Rubik Moonrocks;
    font-size: 3rem;
    animation: anime 1s infinite ease-in-out alternate;
}
.body{
    height: 70px;
    width: 70px;
    background: #61A4BC;
    left: 45.3%;
    position: absolute;
    border-radius: 50%;
    bottom: 310px;
    animation: anime 1s infinite ease-in-out alternate;
}
.lower_body{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #61A4BC;
    border-radius: 50%;
    left: 46.9%;
    bottom: 290px;
    animation: anime 1s infinite ease-in-out alternate;
}
.tale{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #61A4BC;
    border-radius: 50%;
    bottom: 280px;
    left: 48.6%;
    animation: anime 1s infinite ease-in-out alternate;
}
.eye1{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: 16%;
    bottom: 24px;
}
.eye2{
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: black;
    left: 58%;
    bottom: 24px;
}
.mouth{
    position: absolute;
    height: 6px;
    width: 10px;
    border-radius: 7px 7px 130px 130px ;
    background: black;
    left: 32%;
    bottom: 9px;
}
@keyframes anime {
    100%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2) 0 40px 16px -12px rgba(0,0,0,0.2) ;
    }
}